
Body{background-color:rgb(216, 103, 136);}
b{ color:darkgoldenrod;}
ol{color:red;}
p{font-style: italic;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size: 17px;color: yellow;font-weight: 700;}

section{color: red;font-size:30px;font-style:italic;font-weight:25px ;height:200px;width: 1000px;background-color: floralwhite;font-weight:900;}
#Fucka{color: floralwhite;}
.Myself{Color:rgb(233, 177, 66);border:2px dotted yellow; padding:5                                                  px;}
h1{text-align: center;}